.tabs__status{
    background: $card-color;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);

    &-data{
        display: flex;
        justify-content: space-between
    }

    &-header{
        @include respond(smaller-desktop){
            font-size: 1.2rem;
        }
        color: $blue-color;
        font-size: $m-size;
        font-weight: bold;

        @include respond(phone){
            font-size: $s-size
        }
        &-litle{
            font-size: $s-size;
            @include respond(smaller-desktop){
                font-size: 1.2rem
            }

    
        }
    }

    &-value{
        color: white;
        text-align: center;
        border-radius: 1rem;
        margin-left: 1rem;
        width: 8rem;
        font-size: $s-size

        &-number{
            font-size: $s-size;
            color: #ccc;
        }
    }

}