//spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;

//color 
$tab-color:	#F5F5F5;
$card-color: #fff;
$blue-color:#0B4C7F;
$green-color:#3AE996;
$red-color: #F6575B;
$orange-color:#FC9A0C;
$gray-color: #CCD2D3;
$lightBlue-color:#8CFDFE;
$bluePie-color:#1BA3EB;

//minxin

@mixin bullets($color){
    content: '\2022';
    color:$color;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    top: 0;
    transform: translate(-1.3rem,-1.3rem)
}
@mixin  total($color) {

    @include respond(smaller-desktop){
        font-size: 1.4rem;
        top: 35%;
        left:29%
    }
    @include respond(tab-land){
        font-size: 2.4rem;
    }
   
    position: absolute;
    z-index: 5;
    color:$color;
    font-size: 2rem;
    width: 2.2rem;
    max-width: 2.2rem;
    height: 2rem;
    max-height: 2rem;
    font-weight: bold;
    top: 38%;
    left: 35%;

}
@mixin proc($color){
    @include respond(smaller-desktop){
        font-size: 1rem;
    }
    @include respond(tab-land){
        font-size: 1.6rem;
    }
    max-width: 13rem;
    font-size: $s-size;
    position: relative;
    margin-left: 1rem;
    color:$color;
    font-weight: bold;
}